*{
    width: 100%;
    margin: 0 auto;
} 

.logo{
    margin-left: 90px;
    margin-top: 50px;
}

/*TEXT*/

h1{
    text-align: center;
    font-family: Helvetica;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-top: 100px;
}

p, .text{
    text-align: center;
    font-family: Helvetica;
    font-size: 30px;
    margin-top: 30px;
     
}

.enjoy{
    text-align: center;
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
    
}

/*BOX*/

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.flex-container > div{
   width: 250px;
   text-align: center;

}

.box {
  padding-top: 50px;
  margin: 15px 15px;
        
}

.title {
    color: black;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
}

/*FOOTER*/

hr{
    margin-top: 100px;
    border: 2px solid;
    width: 90%;
}

.footer{
    font-size: 15px;
}

.footer1 {
    font-size: 15px;
    letter-spacing: 0px;
}